<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>újmeló | Céginformációk</title>
    <link rel="stylesheet" href="../../assets/css/global.css" />
    <link rel="stylesheet" href="../../assets/css/header.css" />
    <link rel="stylesheet" href="../../assets/css/user.css" />
    <link rel="stylesheet" href="../../assets/css/footer.css" />
  </head>
  <body>
    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Navbar                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <aside>
      <img src="../../assets/images/logo-white.svg" />
      <a href="">
        <img src="../../assets/images/icons/user-icon.svg" />
        <p>majordominik</p>
      </a>
      <a href="">Álláshírdetések</a>
    </aside>

    <!-- ----------------------------------------------------------------------- -->
    <!--                              Header-liner                               -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="header-liner"></div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                            Responsive header                            -->
    <!-- ----------------------------------------------------------------------- -->

    <header class="responsive">
      <div class="brand">
        <img src="../../assets/images/logo-white.svg" />
      </div>
      <div class="bars" onclick="toggle()">
        <i></i>
      </div>
      <nav id="nav">
        <a href="">
          <img src="../../assets/images/icons/user-icon.svg" />
          <p>majordominik</p>
        </a>
        <a href="">Álláshírdetések</a>
      </nav>
    </header>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                  Main                                   -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="profile">
      <h2>Saját profil</h2>
      <p>Itt jelenik meg a saját profilodhoz fűződő adatok.</p>
    </div>

    <main>
      <div class="organisation-info">
        <h3>Céginformációk</h3>
        <h4>Cégnév:</h4>
        <p>MD Kft.</p>
        <h4>Céglogó:</h4>
        <img src="../../assets/images/logos/MD.png" />
        <h4>Cég leírás:</h4>
        <p>
          A MD Kft. egy innovatív és vezető informatikai vállalkozás, amely magas szintű technológiai megoldásokat kínál
          ügyfeleinek a digitális világban.
        </p>
      </div>
    </main>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Footer                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <footer>
      <main>
        <div class="container">
          <div class="brand">
            <img src="../../assets/images/logo-white.svg" />
            <p>
              Az álláshírdetési platformok számos előnnyel járnak az állást keresők és munkaadók számára. Ezek a
              platformok gyors és kényelmes módját.
            </p>
          </div>
        </div>
      </main>
      <div class="low">
        <div class="container">
          <p>A weboldalt készítette: Major Dominik</p>
          <p>újmeló © | Minden jog fenntartva!</p>
        </div>
      </div>
    </footer>

    <script src="../../assets/js/headerSwitch.js"></script>
  </body>
</html>
