/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(270deg, #1b2628 0%, #0d5365 100%);
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  padding-left: 30px;
  padding-right: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Desktop -------------------------------- */

.desktop {
  display: flex;
  align-items: center;

  padding-top: 15px;
  height: 80px;
}

.desktop .brand {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.desktop .brand img {
  height: 70px;
}

.desktop nav {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.desktop nav a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.desktop .cta {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.desktop .cta a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  text-decoration: none;
  padding: 8px 25px;

  border-radius: 10px;
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* -------------------------------------------------------------------------- */
/*                                  Showcase                                  */
/* -------------------------------------------------------------------------- */

.showcase {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.showcase h1 {
  font-size: 72px;
  font-family: "Roboto", "Sans-Serif";
  line-height: 1;
  color: white;
}

.showcase h2 {
  font-size: 72px;
  font-family: "Roboto", "Sans-Serif";
  color: #6dd5ed;
}

.showcase p {
  width: 50%;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 50px;

  color: white;
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.showcase a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 25px;

  border-radius: 10px;
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* -------------------------------------------------------------------------- */
/*                                    Blog                                    */
/* -------------------------------------------------------------------------- */

.blog .vonal {
  width: 100px;
  height: 10px;

  border-radius: 10px;
  background: white;
}

.blog h2 {
  font-size: 60px;
  font-family: "Roboto", "Sans-Serif";
  color: white;

  margin-top: 10px;
}

.blog p {
  width: 40%;
  font-size: 17px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;

  margin-top: 20px;
}

.blog .cards {
  width: 100%;
  outline: 1px red solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 50px;
}

.blog .cards .card {
  background: rgba(0, 0, 0, 0.4);
  outline: 1px red solid;
  width: 400px;
}

.blog .cards .card img {
  width: 400px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog .cards .card h3 {
  color: white;
  font-family: "Roboto", "Sans-Serif";
  font-size: 20px;
}

.blog .cards .card p {
  width: 90%;
  font-size: 15px;
}

.blog .cards .card a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 25px;

  border-radius: 10px;
  background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blog .cards .card .profile {
  display: flex;
  border: 1px red solid;
  height: 80px;
}

.blog .cards .card .profile .img {
  border: 1px blue solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .cards .card .profile .img img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.blog .cards .card .profile .text {
  outline: 1px green solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog .cards .card .profile .text h4 {
  color: white;
  font-family: "Roboto", "Sans-Serif";
  font-size: 14px;
}

.blog .cards .card .profile .text p {
  color: white;
  font-family: "Inter", "Sans-Serif";
  font-size: 13px;
}
