<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>újmeló | Álláshírdetés</title>
    <link rel="stylesheet" href="../assets/css/global.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/post.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
  </head>
  <body>
    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Header                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <!-- --------------------------- Desktop header ---------------------------- -->

    <div class="container" id="headerScroll">
      <header class="desktop">
        <div class="brand">
          <img src="../assets/images/logo-white.svg" />
        </div>
        <nav>
          <a href="#posts">Álláshírdetések</a>
          <a href="">Kapcsolat</a>
          <a href="#blog">Kezelőfelület</a>
        </nav>
        <div class="cta">
          <a href="">Bejelentkezés</a>
        </div>
      </header>
    </div>

    <!-- -------------------------- Responsive header -------------------------- -->

    <header class="responsive">
      <div class="brand">
        <img src="../assets/images/logo-white.svg" />
      </div>
      <div class="bars" onclick="toggle()">
        <i></i>
      </div>
      <nav id="nav">
        <a href="">Álláshírdetések</a>
        <a href="">Admin</a>
        <a href="">Kapcsolat</a>
        <a href="">Bejelentkezés</a>
      </nav>
    </header>

    <!-- ----------------------------------------------------------------------- -->
    <!--                              Header-liner                               -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="header-liner"></div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Contact                                 -->
    <!-- ----------------------------------------------------------------------- -->

    <section class="post">
      <div class="container">
        <h2>Mestercukrász</h2>
        <p>
          Cégünk, a Desszert Neked, elismert és népszerű sütemények és desszertek specialistája,
          mestercukrászt keres csapatunk bővítésére.
        </p>
        <main>
          <div class="left">
            <div class="general-info">
              <h3>Általános információ</h3>
              <p>
                Cégünk, a Desszert neked, elismert és népszerű sütemények és desszertek
                specialistája, mestercukrászt keres csapatunk bővítésére. A sikeres pályázó felelős
                lesz a kiváló minőségű és kreatív sütemények, torták és desszertek elkészítéséért,
                amelyek elkápráztatják és örömet szereznek ügyfeleinknek.
              </p>
              <div class="widget">
                <div class="location">
                  <img src="../assets/images/icons/map-pin (post).svg" />
                  <p>Budapest, XI. Kerület</p>
                </div>
                <div class="date">
                  <img src="../assets/images/icons/clock (post).svg" />
                  <p>2 órája</p>
                </div>
              </div>
            </div>
            <div class="requirements">
              <h3>Elvárások</h3>
              <ul>
                <li>Tapasztalat: Legalább 5 év tapasztalat mestercukrászként.</li>
                <li>
                  Kreativitás: Képesség az egyedi és különleges sütemények tervezésére és
                  elkészítésére.
                </li>
                <li>
                  Szakmai ismeretek: Mélyreható ismeretek a cukrászkodás minden területén, beleértve
                  a fondant és marcipán kezelését is.
                </li>
                <li>Pontosság: Precíz munkavégzés és részletekre való odafigyelés.</li>
              </ul>
            </div>
            <div class="benefits">
              <h3>Juttatások</h3>
              <ul>
                <li>
                  Szakmai fejlődés: Lehetőség új technikák és trendek elsajátítására a
                  mestercukrászként.
                </li>
                <li>
                  Kreatív szabadság: Lehetőség új desszertek és sütemények kifejlesztésére és
                  prezentálására.
                </li>
                <li>Rugalmas munkaidő: A munkaidő beosztása megegyezés szerint alakítható ki.</li>
              </ul>
            </div>
          </div>
          <div class="right">
            <div class="organisation">
              <h3>Céginformáció</h3>
              <img src="../assets/images/logos/desszertneked.png" />
              <h4>Desszert Neked Kft.</h4>
              <p>
                Cégünk alapelve, hogy minden édes vágyadat valóra váltsuk, legyen szó tortákról,
                süteményekről vagy egyedi különlegességekről.
              </p>
            </div>
          </div>
        </main>
      </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Footer                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <footer>
      <main>
        <div class="container">
          <div class="brand">
            <img src="../assets/images/logo-white.svg" />
            <p>
              Az álláshírdetési platformok számos előnnyel járnak az állást keresők és munkaadók
              számára. Ezek a platformok gyors és kényelmes módját.
            </p>
          </div>
          <div class="nav">
            <h3>Linkek</h3>
            <a href="">Álláshírdetések</a>
            <a href="">Kezelőfelület</a>
            <a href="">Kapcsolat</a>
            <a href="">Bejelentkezés</a>
          </div>
        </div>
      </main>
      <div class="low">
        <div class="container">
          <p>A weboldalt készítette: Major Dominik</p>
          <p>újmeló © | Minden jog fenntartva!</p>
        </div>
      </div>
    </footer>

    <script src="../assets/js/headerScroll.js"></script>
    <script src="../assets/js/headerSwitch.js"></script>
  </body>
</html>
