<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header style="background: linear-gradient(90deg, #008baa 0%, #004e68 100%)">
      <div class="container">
        <img src="http://localhost:3000/assets/images/logo-white.svg" />
      </div>
    </header>
    <main>
      <div class="box">
        <p style="margin-top: 15px">Kedves Major Dominik,</p>
        <p>
          Cégének egyik álláshírdetésére egy új jelentkezés érkezett a jelentkezés pontos információit alább
          találja.
        </p>
        <p><span>Álláshírdetés címe:</span> Mestercukrász</p>
        <p><span>Jelentkező neve:</span> Major Dominik</p>
        <p>
          Az önéletrajt, illetve a motivációs levél csatolmányként lett elküldve. Minden információt megtalál
          a honlapon az álláshírdetésének "jelentkezők" opciójában.
        </p>
        <p>
          Üdvözlettel, <br />
          újmeló csapata
        </p>
      </div>
    </main>
  </body>
</html>
