<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>újmeló | Álláshírdetés</title>
    <link rel="stylesheet" href="../assets/css/global.css" />
    <link rel="stylesheet" href="../assets/css/popup.css" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/post.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
  </head>
  <body>
    <!-- --------------------------- Popup messages ---------------------------- -->

    <div class="popup error" id="controlPanelAuthError">
      <div class="top">
        <img src="../assets/images/icons/alert-triangle.svg" />
        <h3>Kezelőfelület hiba</h3>
      </div>
      <div class="bottom">
        <p>Bejelentkezés nélkül nem használhatod a kezelőfelületet.</p>
      </div>
    </div>

    <div class="popup error" id="controlPanelCompanyError">
      <div class="top">
        <img src="../assets/images/icons/alert-triangle.svg" />
        <h3>Kezelőfelület hiba</h3>
      </div>
      <div class="bottom">
        <p>Nem cégként regisztráltál, így számodra nem elérhető a kezelőfelület.</p>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Header                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <!-- --------------------------- Desktop header ---------------------------- -->

    <div class="container" id="headerScroll">
      <header class="desktop">
        <div class="brand">
          <a href="/">
            <img src="../assets/images/logo-white.svg" />
          </a>
        </div>
        <nav>
          <a href="/#posts">Álláshírdetések</a>
          <a href="/contact">Kapcsolat</a>
          <a class="controlPanel">Kezelőfelület</a>
        </nav>
        <div class="cta">
          <a id="loginButton">Bejelentkezés</a>
        </div>
      </header>
    </div>

    <!-- -------------------------- Responsive header -------------------------- -->

    <header class="responsive">
      <div class="brand">
        <a href="/">
          <img src="../assets/images/logo-white.svg" />
        </a>
      </div>
      <div class="bars" onclick="toggle()">
        <i></i>
      </div>
      <nav id="nav">
        <a href="/#posts">Álláshírdetések</a>
        <a href="/contact">Kapcsolat</a>
        <a class="controlPanel">Kezelőfelület</a>
        <a id="loginButton">Bejelentkezés</a>
      </nav>
    </header>

    <!-- ----------------------------------------------------------------------- -->
    <!--                              Header-liner                               -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="header-liner"></div>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Contact                                 -->
    <!-- ----------------------------------------------------------------------- -->

    <section class="post">
      <div class="container">
        <h2>Mestercukrász</h2>
        <p>
          Cégünk, a Desszert Neked, elismert és népszerű sütemények és desszertek specialistája, mestercukrászt keres
          csapatunk bővítésére.
        </p>
        <main>
          <div class="left">
            <div class="general-info">
              <h3>Általános információ</h3>
              <p>
                Cégünk, a Desszert neked, elismert és népszerű sütemények és desszertek specialistája, mestercukrászt
                keres csapatunk bővítésére. A sikeres pályázó felelős lesz a kiváló minőségű és kreatív sütemények,
                torták és desszertek elkészítéséért, amelyek elkápráztatják és örömet szereznek ügyfeleinknek.
              </p>
              <div class="widget">
                <div class="location">
                  <img src="../assets/images/icons/map-pin (post).svg" />
                  <p>Budapest, XI. Kerület</p>
                </div>
                <div class="date">
                  <img src="../assets/images/icons/clock (post).svg" />
                  <p>2 órája</p>
                </div>
              </div>
            </div>
            <div class="requirements">
              <h3>Elvárások</h3>
              <ul>
                <li>Tapasztalat: Legalább 5 év tapasztalat mestercukrászként.</li>
                <li>Kreativitás: Képesség az egyedi és különleges sütemények tervezésére és elkészítésére.</li>
                <li>
                  Szakmai ismeretek: Mélyreható ismeretek a cukrászkodás minden területén, beleértve a fondant és
                  marcipán kezelését is.
                </li>
                <li>Pontosság: Precíz munkavégzés és részletekre való odafigyelés.</li>
              </ul>
            </div>
            <div class="benefits">
              <h3>Juttatások</h3>
              <ul>
                <li>Szakmai fejlődés: Lehetőség új technikák és trendek elsajátítására a mestercukrászként.</li>
                <li>Kreatív szabadság: Lehetőség új desszertek és sütemények kifejlesztésére és prezentálására.</li>
                <li>Rugalmas munkaidő: A munkaidő beosztása megegyezés szerint alakítható ki.</li>
              </ul>
            </div>
          </div>
          <div class="right">
            <div class="company">
              <h3>Céginformáció</h3>
              <img src="../assets/images/logos/desszertneked.png" />
              <h4>Desszert Neked Kft.</h4>
              <p>
                Cégünk alapelve, hogy minden édes vágyadat valóra váltsuk, legyen szó tortákról, süteményekről vagy
                egyedi különlegességekről.
              </p>
            </div>
            <div class="contact-form">
              <h3>Kapcsolatfelvétel</h3>
              <form>
                <div class="message">
                  <label for="">Üzenet:</label>
                  <textarea name="message" placeholder="Üzenet" rows="6"></textarea>
                </div>
                <div class="cv">
                  <p>Önéletrajz:</p>
                  <div class="file">
                    <p id="cvFileName">Nincs kiválasztva</p>
                    <label for="cvInput">
                      Tallózás
                      <input type="file" id="cvInput" accept="application/pdf" />
                    </label>
                  </div>
                </div>
                <div class="motivationLetter">
                  <p>Motivációs levél:</p>
                  <div class="file">
                    <p id="mlFileName">Nincs kiválasztva</p>
                    <label for="mlInput">
                      Tallózás
                      <input type="file" id="mlInput" accept="application/pdf" />
                    </label>
                  </div>
                </div>
                <div class="adatvedelmi">
                  <label class="checkbox">
                    <input type="checkbox" id="adatvedelem" />
                  </label>
                  <p>Elolvastam és elfogadom az <br />adatvédelmi nyilatkozatot</p>
                </div>
                <button>
                  <p>Küldés</p>
                  <img src="../assets/images/icons/send-icon.svg" />
                </button>
              </form>
            </div>
          </div>
        </main>
      </div>
    </section>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 Footer                                  -->
    <!-- ----------------------------------------------------------------------- -->

    <footer>
      <main>
        <div class="container">
          <div class="brand">
            <a href="/">
              <img src="../assets/images/logo-white.svg" />
            </a>
            <p>
              Az álláshírdetési platformok számos előnnyel járnak az állást keresők és munkaadók számára. Ezek a
              platformok gyors és kényelmes módját.
            </p>
          </div>
          <div class="nav">
            <h3>Linkek</h3>
            <a href="/#posts">Álláshírdetések</a>
            <a class="controlPanel">Kezelőfelület</a>
            <a href="/contact">Kapcsolat</a>
            <a id="loginButton">Bejelentkezés</a>
          </div>
        </div>
      </main>
      <div class="low">
        <div class="container">
          <p>A weboldalt készítette: Major Dominik</p>
          <p>újmeló © | Minden jog fenntartva!</p>
        </div>
      </div>
    </footer>

    <script src="../assets/js/functions/popupMessage.js"></script>
    <script src="../assets/js/functions/logoutButton.js"></script>
    <script src="../assets/js/functions/headerScroll.js"></script>
    <script src="../assets/js/functions/headerSwitch.js"></script>
    <script src="../assets/js/functions/fileUpload.js"></script>
  </body>
</html>
